/*
div.css-1xarl3l.e16fv1kl1{
  background-color: #F0F2F6;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-bottom: 20px;
  margin-top:3%;
}


